*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 1vw;
}

body{
    border: 20px;
    margin: 0px;
    background-color: #3C27F4;
}

header{
    background-color: transparent;
    height: 5rem;
    width: 100%;
    border: 4px transparent dashed;
    position: relative;
    max-width: 100%;
    top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: wheat;
}


li{
    list-style: none;
}

div nav ul li{
    color: brown;
    display: inline-flex;
    text-align: justify;
    font-size: 2em;
    justify-content: flex-end;
    margin: 20px;
}

button{
    border-radius: 50px;
    font-style: italic;
    font-family: 'poppins';
    height: 31px;
    width: 102px;
    font-size: 15px;
    box-shadow: -5px 0px 0px #ff8787;
    border: 0px;

}
button:hover{
    box-shadow: -5px 0px 0px #6955d2;
    background: #682a6899;
    color: wheat;
}
#Logo{
    height: 9rem;
    width: 12rem;
    left: 0;
    margin-left: 20px;
    top: 0em;
    position: absolute;
}
input{
    display: none;
}
label{
    display: none;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #3C27F4;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 15em;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    text-shadow: -6px 6px 18px #bdab91d1;
    margin: 1px;
    color: azure;
}

h2{
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    text-shadow: -6px 6px 18px #bdab91d1;
    margin: 1px;
    color: azure;
}

.circles{
    position: fixed;
    bottom: 0;
    right: 0;
}
.Circle1{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 139, 139, 0.82) 3.24%, rgba(255, 139, 139, 0.195238) 48.55%, rgba(255, 139, 139, 0) 90.74%);
    transform: translate(-50%, -50%);
    box-shadow: -4px -4px 20px #ee829494;

}

.Circle2{
    top: 110px;
    opacity: 0.5;
}

.Circle3{
    right: -329px;
    top: 114px;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.5s both;
	        animation: scale-up-center 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.5s both;
}
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

.scale-up-ver-bottom {
	-webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.1s both;
	        animation: scale-up-ver-bottom 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.1s both;
}

 @-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              opacity: 0;
    }
    50%{
        opacity: 0;}
        80%{
            opacity: 0;}
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              opacity: 100;
    }
  }
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
              opacity: 0;
    }

    50%{
        opacity: 20;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }

  label{
    display: none;
  }
input{
    display: none;
}
@media all and (max-width: 768px) { /*cuando el dispositivo es como máximo de 700px*/
    header {
        height: 20em;
        display: block;
    }

    #Logo{
        display: none;
    }

    input:checked ~ ul { /*muestra todas el contenido de todas las etiquetas ul */
        display: block;
    }

    input:checked ~ label { /*muestra todo el contenido de todas las etiquetas label */
        background: rgb(255, 104, 104);
        position: relative;
        top: 20px;
    }

    label:hover { /*cambia el color de ☰ */
        background: #4ea3f3;

    }

    li { /*elimina el margen  de cada botón */
        margin: 0px;
        text-align: left;
    }

    label { /* dibuja la etiqueta ☰  con formato botón */
        box-sizing: border-box;
        display: block;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: #4ea3f3;
    }

    nav{
        margin-right: 35px;
    }


    ul { /*deja de mostrar el bloque contenedor de los botones horizontales */
        display: none;
    }
    ul li a {
        text-decoration: none;
        color: black;
    }
    
        ul li a:hover {
            color: red;
        }
    
        div nav ul li{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    button{
        border-radius: 0px;
    }    
    }
