
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    border: 20px;
    margin: 0px;
    background-color: #3C27F4;
}

header{
    background-color: transparent;
    height: 5rem;
    width: 100%;
    margin: 18px;
    border: 4px transparent dashed;
    position: relative;
    max-width: 100%;
    /* top: 2em; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: wheat;
}


li{
    list-style: none;
}

header div nav ul li{
    color: brown;
    display: inline-flex;
    text-align: justify;
    font-size: 2em;
    justify-content: flex-end;
    margin: 20px;
}

button{
    border-radius: 50px;
    font-style: italic;
    font-family: 'poppins';
    height: 31px;
    width: 102px;
    font-size: 15px;
    box-shadow: -5px 0px 0px #ff8787;
    border: 0px;
    margin-right: 25px;

}
button:hover{
    box-shadow: -5px 0px 0px #6955d2;
    background: #682a6899;
    color: wheat;
}

input{
    display: none;

}

label{
    display: none;
}

section{
    width: 100%;
    height: 100vh;
    margin: 0px;
    
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor{
    position: relative;
    height: 242px;
    margin: 30px;
    display: flex;
    width: 242px;
    background: #D9D9D9;
    border-radius: 0px 148.5px 0px 93px;
    margin-left: 60px;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.82vw;
}
.contenedor:hover{
    background-color: aqua;
}
.contenedor::after{
    content: '';
    position: absolute;
    left: -1vw;
    top: -21px;
    height: 87px;
    width: 87px;
    background: #F99191;
    border-radius: 0px 148.5px 0px 93px;
}
.AEnlaces{
height: 100%;
    position: absolute;
    width: 100%;
    background: transparent;
    border-radius: 0px 148.5px 0px 93px;
    box-shadow: 14px 14px #dd94fb;
}

.contenedor img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 3vw;
    border-radius: 20%;
}

.contenedor h1{
    font-size: 2rem;
    margin-top: 35px;
    font-family: 'Poppins';
}



@media all and (max-width: 768px) { /*cuando el dispositivo es como máximo de 700px*/
    header{
        height: 20em;
    }

    input:checked ~ ul { /*muestra todas el contenido de todas las etiquetas ul */
        display: block;
    }

    input:checked ~ label { /*muestra todo el contenido de todas las etiquetas label */
        position: relative;
        top: 50px;
        background: linear-gradient(351deg, rgba(255, 139, 139, 0.82) 3.24%, rgb(255 139 139 / 57%) 48.55%, rgba(255, 139, 139, 0) 90.74%);
    }
    
    


    label:hover { /*cambia el color de ☰ */
        background-color: aqua;
    }

    header li { /*elimina el margen  de cada botón */
        margin: 0px;
        text-align: left;
    }

    label { /* dibuja la etiqueta ☰  con formato botón */
        box-sizing: border-box;
        display: block;
        color: wheat;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 35px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: chocolate;
    }


    header ul { /*deja de mostrar el bloque contenedor de los botones horizontales */
        display: none;
    }
    header ul li a {
        text-decoration: none;
    }
    
        ul li a:hover {
            color: red;
        }
    
        header div nav ul li{
            display: flex;
            justify-content: center;
        }
    



    }